@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Catamaran:wght@800&family=Righteous&family=Roboto:wght@100&family=Russo+One&family=Secular+One&display=swap");
.boton, .btn-rounded {
  width: 100%;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .boton:hover, .btn-rounded:hover {
    background: #649898;
    cursor: pointer; }

.btn-rounded {
  border-radius: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Secular One", sans-serif;
  font: 1em; }

body {
  background-color: #C0D7EA;
  font-family: "Secular One", sans-serif;
  font: 1em;
  flex-wrap: wrap; }

body {
  background-color: #C0D7EA; }

.boton, .btn-rounded {
  background: #607f9c; }

.botonera {
  background: #050309; }

h1 {
  background: #9c94bd; }

#botonera {
  background-color: #050309; }
  #botonera img {
    height: 90px; }
  #botonera ul li a {
    position: relative;
    color: #C0D7EA;
    font-size: 1rem;
    padding: 30px; }
  #botonera li a:hover {
    background: #607f9c;
    color: #87B0D7; }

.bg-colorNav {
  background-color: #050309;
  width: 100%; }

/*  header*/
header {
  width: 100%; }

/*  header*/
/*main*/
main article img {
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

main h2 {
  background-color: #9bb3c7; }

main article {
  text-align: center;
  padding: 0 20px 20px; }

h4 {
  font-size: 2em; }

#productosNue {
  margin-right: auto;
  margin-left: auto; }

.productCol {
  background-color: #9bb3c7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

main img {
  width: 100%;
  height: 350px; }

.galeria img:hover {
  border: 5px solid #9bb3c7; }

/*main*/
#presentacion p {
  text-align: center;
  font-size: 2em;
  margin-right: auto;
  margin-left: auto; }

.formulario {
  text-align: center;
  padding: 0 20px 20px;
  width: 100%; }

.formulario2 {
  padding: 0 20px 20px;
  width: 100%; }

.seconNav {
  background-color: #9bb3c7;
  text-align: center; }

.seconNav a {
  font-size: 1em; }

.seconNav li {
  padding: 10px;
  height: 150px; }

#contactanos {
  text-align: center; }

ul li a i {
  color: #C0D7EA; }

aside img {
  margin: 0 auto;
  display: block; }

.envioPago {
  padding: 20px;
  margin: 20px;
  width: auto;
  height: auto; }

nav section iframe {
  width: 52%;
  padding: 0 20px 20px; }

.textqui {
  padding: 20px;
  margin: 20px; }

footer {
  background-color: #050309;
  color: #ecdde9;
  align-self: flex-end;
  width: 100%;
  text-align: center; }

.footer .socialItem {
  list-style: none; }

.footer .social ul {
  display: flex;
  padding: 10px;
  width: 300px;
  height: 50px;
  margin: auto; }

.socialItem a {
  padding: auto;
  padding-left: 35px;
  font-size: 190%; }

.copy {
  padding: 10px;
  color: #ecdde9; }

@keyframes animar {
  0% {
    width: 100px; }
  25% {
    width: 300px; }
  50% {
    width: 500px; }
  75% {
    width: 300px; }
  100% {
    width: 100px; } }

h1 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

h4 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

h5 {
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

.letra {
  font-size: 2em;
  text-align: center;
  margin: 20px;
  padding: 20px;
  text-transform: uppercase; }

.letr {
  font-size: 1.6rem;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

h6 {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

legend {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

.quienes {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  text-transform: uppercase; }

h2 {
  animation-name: animar;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0;
  width: 100%;
  height: 200px; }

h1 {
  animation-name: animar;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0;
  width: 100%;
  height: 200px; }
