
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
	@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Roboto:wght@100&family=Secular+One&display=swap');


	html{
		scroll-behavior: smooth;
		font: 1em sans-serif;
	}
	body{
		margin: 0;
		padding: 0;
		display: flex;
		min-height: 100vh;
		flex-wrap: wrap;
		background-color:#C0D7EA;
		font-family: 'Secular One', sans-serif
		}




		#botonera{
					/*position: fixed;*/
				}


	.bg-colorNav{
		background-color:#050309 ;
		width: 100%;
		

		}

		
	#botonera ul li a{
		color: #C0D7EA;
		font-family: 'Secular One', sans-serif

	}

	#botonera ul li a{

		font-family: 'Secular One', sans-ser
		font-size: 1rem;

	}
	#botonera li:hover a{

		padding: 5px 10px;
		background: #607f9c;
		color: #87B0D7;
		border-radius: 10px;
	

	}

	#botonera .dropdown-menu li a{

		background: #F9FBFD;
		color: #87B0D7;
		
	

	}
	header{
		width: 100%
	}
	main h2{
			text-transform: uppercase;
		 	font-size: 2rem;
		 	text-align: center;
		 	padding: 20px 0;
		 	font-family: 'Roboto', sans-serif;
		 	margin: 20px 0;
	}

	main article img{
		 	justify-content: space-between;
	}

	main article{
		text-align: center;
			text-align: center;
		 	border: 10px solid #c3daeb;
		 	background-color: #9bb4c7;
		 	border-top-left-radius: 20px;
		 	border-top-right-radius: 20px;

	}
	
 	 
 	.bg-colorBot{
 		background-color: #607f9c;
 	}

 	#presentacion h3{
 		text-align: center;
 		font-size: 3rem;

 	}
 	#presentacion p{
 		text-align: center;
 		
 		font-size: 2rem;
 	}

		.contenedor{
 			direction: grid;
 		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		"nav"
		"header"
		"productos"
		"filtros"
		"section"
		"footer"
 		}
	 



	 /*fin del encabezado*/

			/*filtro*/

		.encabezado{
		grid-column: 1/4 ;
		max-width: 100%;
		max-height: 100%;
			
		}

	 .seconNav{

	 	background-color: #9bb3c7;
	 	text-align: center;
	 }

	 .seconNav b{

	 	font-size: 1.3rem;
	 	font-family: 'Secular One', sans-serif;
	 	
	 }
	 .seconNav li{
	 		padding: 10px;
			height:150px ;
	 }



	 @media (max-width: 200px)´{
	 	#mainNav img{
	 		width: 150px
	 	}
	 }




	 /* definicion del grid layout*/
/*	 .contenedor{
		 	display: grid;
		   grid-template-columns: 10% 90%  0 ;
		 	grid-template-areas:
		 	"nav nav nav" 
		 	"header header header"
		 	" filtros productos productos"
		 	"section productos productos"
		 	"footer footer footer";
		 	 	min-height: 100vh;
	 	 }


	 .contenedor .nav,
	 .contenedor .pie{
		 	grid-column: 1/6;
		 	padding: 20px;
		 	border: 1px solid black;
	 }


	#mainNav{
	 	grid-area: nav;
	 }


	 #filtros{
	 	grid-area: filtros;
	 }

	 #productos{
	 	grid-area: productos ;

	 }

	 #section1{
	 	grid-area: section;
	 }

	 #pie{
	 	grid-area: footer;
	 }*/
	 /*grid*/



	
	footer{
		background-color: #050309;
		color: white;
		align-self: flex-end;
		width: 100%;
		text-align: center;

	}


.footer  h6{
		font-size: 1rem;	
		text-align: center;
		font-family: 'Secular One', sans-serif;
		font-size: 1rem;
		
	} 


.social ul{
	display: flex;
	padding: 10px;
	width: 350px;
	height:50px ;
	margin: auto;
	color: #C0D7EA
}
.socialItem{
	list-style: none;
}
.socialItem a{
	padding:auto ;
	padding-left: 35px;
	font-size: 35px;
	width: 100%;

}

   /*diseño de footer*/

/*media queries*/




@media (min-height: 768px){
	.contenedor{
		grid-template-columns: 40vh 60vh;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 
		"nav nav"
		 "header header" 
		 "filtros productos" 
		 "section section" 
		 "footer footer";
	}
	#productos .galeria1 .galeria2 figure{
	 width: 100%;
	}
	#aside{
		flex-direction: row;
		justify-content: space-between;
	}
}



/*media queries 1024px*/
@media (min-height: 1024px){
	.contenedor{
		grid-template-columns: 20vh 70vh 10vh;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
		"nav nav nav"
		"header header header"
		"filtros productos productos"
		"section productos productos"
		"footer footer footer"
	}
	#section1{
		flex-direction: column;
	}
}





