//fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Catamaran:wght@800&family=Righteous&family=Roboto:wght@100&family=Russo+One&family=Secular+One&display=swap');
//vars
$primerFonts:'Roboto', sans-serif;

$segunfoFonts: 'Secular One', sans-serif;

$tercerFons:'Russo One', sans-serif;

$cuartoFonts: 'Catamaran', sans-serif;
//sizing
$fontMd: 2em;

$fontSm:1em;

$fontSeg:1.3rem;

$fontTer:1.6rem;