*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
        scroll-behavior: smooth;
        font-family: $segunfoFonts; 
        font: $fontSm;
    }
body{
        background-color: $segundoColor;
        font-family: $primerFonts;
        font: $fontSm;
        flex-wrap: wrap;
}
#botonera{
         background-color: $colorBotonera;
        img{
            height: 90px;
             }
        ul li a{
            position: relative;
            color: $segundoColor;
            font-size: 1rem;
            padding: 30px
        }
          li a:hover {
             background: tercerColor;
             color: $quintoColor;
              border-radius: 30px
        }
}

li{
     a:hover {
        background: $tercerColor;
        color: $quintoColor;
        border-radius: 30px
    }

}
.bg-colorNav{
    background-color: $colorBotonera;
    width: 100%;
}

/*  header*/
header{
     width:100vw;
}
/*  header*/

 /*main*/

main {
    h2, h3{
        font-family: segunfoFonts;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        padding: 20px 0;
        margin: 20px 0;
    }
     article img{
         justify-content: space-between; 
         border-top-left-radius: 20px;
        border-top-right-radius: 20px;
}

h2{
    animation-name: animar;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0;
    width: 100%;
    height: 200px;
    background-color: $sextoColor;
}

article{
        text-align: center;
        padding: 0 20px 20px
    }
    
}

h4{
      font-family: $tercerFons;
      text-align: center;
    }

#productosNue{
    margin-right: auto;
        margin-left: auto; 
}


.productCol{
            background-color: $sextoColor;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }
   
   /*main*/

.bg-colorBot{
        background-color: $tercerColor;
    }

    
#presentacion{
    p{
        text-align: center;
        font-size: 2rem;
    }

}


.encabezado{
        grid-column: 1/4 ;
        max-width: 100%;
        max-height: 100%;
}


.seconNav{

        background-color: $sextoColor;
        text-align: center;
    }

.seconNav{
     b{
        font-size: $fontSeg;
        font-family: $segunfoFonts;
    }
}
.seconNav li{
            padding: 10px;
            height:150px ;
    }

 #contactanos{
        text-align: center;
    }

 h6{
        font-size: 1rem;    
        text-align: center;
        font-family: 'Secular One', sans-serif;
        font-size: 1rem;
        
    } 

 ul li a i{
         color: $segundoColor;
    
    }

 footer{
         background-color: $colorBotonera;
        color: $cuartoColor;
        align-self: flex-end;
        width: 100%;
        text-align: center;

    }

.footer{

    .socialItem{
    list-style: none;
    }


    .social{
        ul{
    display: flex;
    padding: 10px;
    width: 350px;
    height:50px ;
    margin: auto;
        }
    }

    .socialItem{
    a{
    padding:auto ;
    padding-left: 35px;
    font-size: 35px;
    width: 100%;
        }
    }

}
@keyframes animar{
    0%{width: 100px}
    25%{width: 300px}
    50%{width: 500px}  
    75%{width: 300px}
    100%{width: 100px}
}
