*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
        font-family: $segunfoFonts; 
        font: $fontSm;
    }
body{
        background-color: map-get($map: $paletaColores, $key: 'dos');
        font-family: $segunfoFonts;
        font: $fontSm;
        flex-wrap: wrap;
}

body{
	background-color: map-get($map: $paletaColores, $key: 'dos')
}

.boton{
	background:  map-get($map: $paletaColores, $key: 'tres')
}

.botonera{
	background:  map-get($map: $paletaColores, $key: 'uno')
}

h1{
	background:  map-get($map: $paletaColores, $key: 'veinte')
}

#botonera{
            background-color: map-get($map: $paletaColores, $key: 'uno');
            img{
                height: 90px;
                }
        ul li a{
            position: relative;
            color: map-get($map: $paletaColores, $key: 'dos');
            font-size: 1rem;
            padding: 30px
        }
        li a:hover {
            background: map-get($map: $paletaColores, $key: 'tres');
            color: map-get($map: $paletaColores, $key: 'siete');
        }
}


.bg-colorNav{
    background-color: map-get($map: $paletaColores, $key: 'uno');
    width: 100%;
}

/*  header*/
header{
width:100%;
}
/*  header*/

/*main*/

main {
article img{
    justify-content: space-between; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2{
    background-color: map-get($map: $paletaColores, $key: 'ocho');
}

article{
        text-align: center;
        padding: 0 20px 20px;
    } 
}

h4{
    font-size: $fontMd;
}

#productosNue{
    margin-right: auto;
        margin-left: auto; 
}


.productCol{
            background-color: map-get($map: $paletaColores, $key: 'ocho');
            border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

main{
img{
        width: 100%;
        height: 350px;
    } }

.galeria{
        img:hover{
            border: 5px solid map-get($map: $paletaColores, $key: 'ocho');
        }
}


/*main*/


    
#presentacion{
    p{
        text-align: center;
        font-size: $fontMd;
            margin-right: auto;
        margin-left: auto; 
    }

}

.formulario{
            text-align: center;
        padding: 0 20px 20px;
        width: 100%
}

.formulario2{
        padding: 0 20px 20px;
        width: 100%
}


.seconNav{

        background-color: map-get($map: $paletaColores, $key: 'ocho');
        text-align: center;
    }

.seconNav{
a{
        font-size: $fontSm;
    }
}
.seconNav li{
            padding: 10px;
            height:150px ;
    }

#contactanos{
        text-align: center;
    }


ul li a i{
    color:map-get($map: $paletaColores, $key: 'dos');
    
    }

aside{
    img{
        margin: 0 auto;
        display: block;
    }
}

.envioPago{
    padding: 20px;
    margin:20px;
    width: auto;
    height: auto;
}

nav{
    section{
        iframe{
            width: 52%;
            padding: 0 20px 20px;
        }
    }
}

.textqui{
    padding: 20px;
    margin: 20px;
}
footer{
        background-color: map-get($map: $paletaColores, $key: 'uno');
        color: map-get($map: $paletaColores, $key: 'cuatro');
        align-self: flex-end;
        width: 100%;
        text-align: center;

    }

.footer{

    .socialItem{
    list-style: none;
    }
    .social{
        ul{
    display: flex;
    padding: 10px;
    width: 300px;
    height:50px ;
    margin: auto;
        }
    }

    }
    .socialItem{
    a{
    padding:auto ;
    padding-left: 35px;
    font-size: 190%;
        }
    }

    .copy{
        padding: 10px;
        color: map-get($map: $paletaColores, $key: 'cuatro')

            }

@keyframes animar{
    0%{width: 100px}
    25%{width: 300px}
    50%{width: 500px}  
    75%{width: 300px}
    100%{width: 100px}
}
