*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
        scroll-behavior: smooth;
        font-family: $segunfoFonts; 
        font: $fontSm;
    }
body{
        background-color: map-get($map: $paletaColores, $key: 'dos');
        font-family: $segunfoFonts;
        font: $fontSm;
        flex-wrap: wrap;
}
#botonera{
         background-color: map-get($map: $paletaColores, $key: 'uno');
        img{
            height: 90px;
             }
        ul li a{
            position: relative;
            color: map-get($map: $paletaColores, $key: 'dos');
            font-size: 1rem;
            padding: 30px
        }
          li a:hover {
             background: map-get($map: $paletaColores, $key: 'tres');
             color: map-get($map: $paletaColores, $key: 'siete');
              border-radius: 30px
        }
}

li{
     a:hover {
<<<<<<< HEAD
        background: map-get($map: $paletaColores, $key: 'tres');
        color: map-get($map: $paletaColores, $key: 'siete');
=======
        background: $tercerColor;
        color: $quintoColor;
>>>>>>> 7a3aa769d2764c2fb8f2740e12c8c6159de47b34
        border-radius: 30px
    }

}
.bg-colorNav{
    background-color: map-get($map: $paletaColores, $key: 'uno');
    width: 100%;
}

/*  header*/
header{
     width:100vw;
}
/*  header*/

 /*main*/

main {
article img{
         justify-content: space-between; 
         border-top-left-radius: 20px;
        border-top-right-radius: 20px;
}

h2{
    background-color: map-get($map: $paletaColores, $key: 'ocho');
}
article{
        text-align: center;
        padding: 0 20px 20px;
    } 
}


#productosNue{
    margin-right: auto;
        margin-left: auto; 
}


.productCol{
            background-color: map-get($map: $paletaColores, $key: 'ocho');
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
    }
   
   /*main*/


    
#presentacion{
    p{
        text-align: center;
        font-size: $fontMd;
    }

}


.encabezado{
        grid-column: 1/4 ;
        max-width: 100%;
        max-height: 100%;
}


.seconNav{

        background-color: map-get($map: $paletaColores, $key: 'ocho');
        text-align: center;
    }

.seconNav{
     a{
        font-size: $fontSm;
    }
}
.seconNav li{
            padding: 10px;
            height:150px ;
    }

 #contactanos{
        text-align: center;
    }


 ul li a i{
         color:map-get($map: $paletaColores, $key: 'dos');
    
    }
 footer{
         background-color: map-get($map: $paletaColores, $key: 'uno');
        color: map-get($map: $paletaColores, $key: 'cuatro');
        align-self: flex-end;
        width: 100%;
        text-align: center;

    }

.footer{

    .socialItem{
    list-style: none;
    }
    .social{
        ul{
    display: flex;
    padding: 10px;
    width: 350px;
    height:50px ;
    margin: auto;
        }
    }

    .socialItem{
    a{
    padding:auto ;
    padding-left: 35px;
    font-size: 35px;
    width: 100%;
        }
    }

}
@keyframes animar{
    0%{width: 100px}
    25%{width: 300px}
    50%{width: 500px}  
    75%{width: 300px}
    100%{width: 100px}
}
